
duEco/duEco/bin/Debug/netstandard2.0/duEco.pdb
duEco/duEco/obj/project.assets.json
duEco/duEco/obj/duEco.csproj.nuget.g.props
duEco/duEco/obj/duEco.csproj.nuget.cache
duEco/duEco/obj/Debug/netstandard2.0/Style/styles.css.g.cs
duEco/duEco/obj/Debug/netstandard2.0/MainPage.xaml.g.cs
duEco/duEco/obj/Debug/netstandard2.0/duEco.pdb
duEco/duEco/obj/Debug/netstandard2.0/duEco.dll
duEco/duEco/obj/Debug/netstandard2.0/duEco.csprojAssemblyReference.cache
duEco/duEco/obj/Debug/netstandard2.0/duEco.csproj.FileListAbsolute.txt
duEco/duEco/obj/Debug/netstandard2.0/duEco.csproj.CoreCompileInputs.cache
duEco/duEco/obj/Debug/netstandard2.0/duEco.assets.cache
duEco/duEco/obj/Debug/netstandard2.0/duEco.AssemblyInfo.cs
duEco/duEco/bin/Debug/netstandard2.0/duEco.pdb
duEco/duEco/bin/Debug/netstandard2.0/duEco.dll.mdb
duEco/duEco/bin/Debug/netstandard2.0/duEco.dll
duEco/duEco.iOS/obj/project.assets.json
duEco/duEco.iOS/obj/iPhoneSimulator/Debug/duEco.iOS.csprojAssemblyReference.cache
duEco/duEco.iOS/obj/iPhoneSimulator/Debug/duEco.iOS.csproj.CoreCompileInputs.cache
duEco/duEco.iOS/obj/iPhoneSimulator/Debug/_WarningCodes
duEco/duEco.iOS/obj/duEco.iOS.csproj.nuget.g.props
duEco/duEco.iOS/obj/duEco.iOS.csproj.nuget.cache
duEco/duEco.Android/Resources/Resource.designer.cs
duEco/duEco.Android/obj/project.assets.json
duEco/duEco.Android/obj/duEco.Android.csproj.nuget.g.props
duEco/duEco.Android/obj/duEco.Android.csproj.nuget.cache
duEco/duEco.Android/obj/Debug/81/stub_application_data.txt
duEco/duEco.Android/obj/Debug/81/resolved_assemblies.txt
duEco/duEco.Android/obj/Debug/81/res/values/styles.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout/notification_template_part_time.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout/notification_template_part_chronometer.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout/notification_template_icon_group.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout/notification_template_custom_big.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout/notification_action_tombstone.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout/notification_action.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout-v21/notification_template_icon_group.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout-v21/notification_template_custom_big.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout-v21/notification_action_tombstone.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout-v21/notification_action.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/layout-v16/notification_template_custom_big.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/drawable/notification_tile_bg.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/drawable/notification_icon_background.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/drawable/notification_bg_low.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/drawable/notification_bg.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/res/drawable-v21/notification_action_background.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/9/jl/public.txt
duEco/duEco.Android/obj/Debug/81/lp/9/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/9/jl/bin/public.txt
duEco/duEco.Android/obj/Debug/81/lp/9/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/9/jl/aidl/android/support/v4/os/ResultReceiver.aidl
duEco/duEco.Android/obj/Debug/81/lp/7/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/7/jl/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/7/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/7/jl/bin/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/7/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/7/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/6/jl/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/6/jl/bin/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/6/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/6/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/22/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/22/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/22/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/22/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/21/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/21/jl/public.txt
duEco/duEco.Android/obj/Debug/81/lp/21/jl/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/21/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/21/jl/bin/public.txt
duEco/duEco.Android/obj/Debug/81/lp/21/jl/bin/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/21/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/21/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/20/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/20/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/20/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/20/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/layout/mr_volume_control.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/layout/mr_playback_control.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/layout/mr_controller_volume_item.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/layout/mr_controller_material_dialog_b.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/layout/mr_chooser_list_item.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/layout/mr_chooser_dialog.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/interpolator/mr_linear_out_slow_in.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/interpolator/mr_fast_out_slow_in.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_vol_type_audiotrack_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_vol_type_audiotrack_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_media_stop_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_media_stop_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_media_play_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_media_play_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_media_pause_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_media_pause_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_group_expand.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_group_collapse.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_dialog_material_background_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_dialog_material_background_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_dialog_close_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_dialog_close_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_button_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_button_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_button_connecting_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_button_connecting_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_button_connected_light.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/res/drawable/mr_button_connected_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/19/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/19/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/19/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/18/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/18/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/18/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/18/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/values/values.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/tooltip.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/support_simple_spinner_dropdown_item.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/select_dialog_singlechoice_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/select_dialog_multichoice_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/select_dialog_item_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_select_dialog_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_search_view.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_search_dropdown_item_icons_2line.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_screen_toolbar.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_screen_simple_overlay_action_mode.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_screen_simple.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_screen_content_include.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_popup_menu_item_layout.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_popup_menu_header_item_layout.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_list_menu_item_radio.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_list_menu_item_layout.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_list_menu_item_icon.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_list_menu_item_checkbox.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_expanded_menu_layout.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_dialog_title_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_alert_dialog_title_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_alert_dialog_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_alert_dialog_button_bar_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_activity_chooser_view_list_item.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_activity_chooser_view.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_action_mode_close_item_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_action_mode_bar.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_action_menu_layout.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_action_menu_item_layout.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_action_bar_up_container.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout/abc_action_bar_title_item.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/layout-v26/abc_screen_toolbar.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/tooltip_frame_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/tooltip_frame_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_vector_test.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_textfield_search_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_text_cursor_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_tab_indicator_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_switch_thumb_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_spinner_textfield_background_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_seekbar_track_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_seekbar_tick_mark_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_seekbar_thumb_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ratingbar_small_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ratingbar_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ratingbar_indicator_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_list_selector_holo_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_list_selector_holo_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_list_selector_background_transition_holo_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_list_selector_background_transition_holo_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_item_background_holo_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_item_background_holo_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ic_voice_search_api_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ic_search_api_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ic_menu_overflow_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ic_go_search_api_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ic_clear_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ic_arrow_drop_right_black_24dp.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_ic_ab_back_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_edit_text_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_dialog_material_background.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_cab_background_top_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_cab_background_internal_bg.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_btn_radio_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_btn_default_mtrl_shape.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_btn_colored_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_btn_check_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable/abc_btn_borderless_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable-v23/abc_control_background_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable-v21/abc_edit_text_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable-v21/abc_btn_colored_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/drawable-v21/abc_action_bar_item_background_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/switch_thumb_material_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/switch_thumb_material_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_tint_switch_track.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_tint_spinner.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_tint_seek_thumb.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_tint_edittext.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_tint_default.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_tint_btn_checkable.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_secondary_text_material_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_secondary_text_material_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_search_url_text.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_primary_text_material_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_primary_text_material_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_primary_text_disable_only_material_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_primary_text_disable_only_material_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_hint_foreground_material_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_hint_foreground_material_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_btn_colored_text_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color/abc_btn_colored_borderless_text_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_tint_switch_track.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_tint_spinner.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_tint_seek_thumb.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_tint_edittext.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_tint_default.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_tint_btn_checkable.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_color_highlight_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_btn_colored_text_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v23/abc_btn_colored_borderless_text_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v21/abc_btn_colored_borderless_text_material.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v11/abc_background_cache_hint_selector_material_light.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/color-v11/abc_background_cache_hint_selector_material_dark.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/tooltip_exit.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/tooltip_enter.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_slide_out_top.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_slide_out_bottom.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_slide_in_top.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_slide_in_bottom.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_shrink_fade_out_from_bottom.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_popup_exit.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_popup_enter.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_grow_fade_in_from_bottom.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_fade_out.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/res/anim/abc_fade_in.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/17/jl/public.txt
duEco/duEco.Android/obj/Debug/81/lp/17/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/17/jl/bin/public.txt
duEco/duEco.Android/obj/Debug/81/lp/17/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/17/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/16/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/16/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/16/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/16/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/15/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/15/jl/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/15/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/15/jl/bin/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/15/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/15/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_template_media_custom.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_template_media.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_template_lines_media.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_template_big_media_narrow_custom.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_template_big_media_narrow.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_template_big_media_custom.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_template_big_media.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_media_cancel_action.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/res/layout/notification_media_action.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/14/jl/public.txt
duEco/duEco.Android/obj/Debug/81/lp/14/jl/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/14/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/14/jl/bin/public.txt
duEco/duEco.Android/obj/Debug/81/lp/14/jl/bin/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/14/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/14/jl/aidl/android/support/v4/media/session/PlaybackStateCompat.aidl
duEco/duEco.Android/obj/Debug/81/lp/14/jl/aidl/android/support/v4/media/session/ParcelableVolumeInfo.aidl
duEco/duEco.Android/obj/Debug/81/lp/14/jl/aidl/android/support/v4/media/session/MediaSessionCompat.aidl
duEco/duEco.Android/obj/Debug/81/lp/14/jl/aidl/android/support/v4/media/RatingCompat.aidl
duEco/duEco.Android/obj/Debug/81/lp/14/jl/aidl/android/support/v4/media/MediaMetadataCompat.aidl
duEco/duEco.Android/obj/Debug/81/lp/14/jl/aidl/android/support/v4/media/MediaDescriptionCompat.aidl
duEco/duEco.Android/obj/Debug/81/lp/13/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/13/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/13/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/13/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_text_input_password_icon.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_navigation_menu_item.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_navigation_menu.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_navigation_item_subheader.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_navigation_item_separator.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_navigation_item_header.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_navigation_item.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_menu_item_action_area.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_layout_tab_text.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_layout_tab_icon.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_layout_snackbar_include.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_layout_snackbar.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_bottom_sheet_dialog.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout/design_bottom_navigation_item.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/layout-sw600dp-v13/design_layout_snackbar.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable/navigation_empty_icon.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable/design_snackbar_background.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable/design_password_eye.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable/design_fab_background.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable/design_bottom_navigation_item_background.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable-v21/design_password_eye.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable-v21/design_bottom_navigation_item_background.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable-v21/avd_show_password.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable-v21/avd_hide_password.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable-anydpi-v21/design_ic_visibility_off.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/drawable-anydpi-v21/design_ic_visibility.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/color/design_tint_password_toggle.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/color/design_error.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/color-v23/design_tint_password_toggle.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/animator-v21/design_appbar_state_list_animator.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/anim/design_snackbar_out.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/anim/design_snackbar_in.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/anim/design_bottom_sheet_slide_out.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/anim/design_bottom_sheet_slide_in.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/anim-v21/design_bottom_sheet_slide_out.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/res/anim-v21/design_bottom_sheet_slide_in.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/12/jl/public.txt
duEco/duEco.Android/obj/Debug/81/lp/12/jl/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/12/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/12/jl/bin/public.txt
duEco/duEco.Android/obj/Debug/81/lp/12/jl/bin/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/12/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/12/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/11/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/11/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/11/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/11/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/10/jl/R.txt
duEco/duEco.Android/obj/Debug/81/lp/10/jl/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/10/jl/bin/R.txt
duEco/duEco.Android/obj/Debug/81/lp/10/jl/bin/proguard.txt
duEco/duEco.Android/obj/Debug/81/lp/10/jl/bin/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/lp/10/jl/AndroidManifest.xml
duEco/duEco.Android/obj/Debug/81/linksrc/duEco.dll.mdb
duEco/duEco.Android/obj/Debug/81/linksrc/duEco.dll
duEco/duEco.Android/obj/Debug/81/linksrc/duEco.Android.pdb
duEco/duEco.Android/obj/Debug/81/linksrc/duEco.Android.dll
duEco/duEco.Android/obj/Debug/81/linkdst/duEco.Android.pdb
duEco/duEco.Android/obj/Debug/81/linkdst/duEco.Android.dll
duEco/duEco.Android/obj/Debug/81/libraryprojectimports.cache
duEco/duEco.Android/obj/Debug/81/duEco.Android.pdb
duEco/duEco.Android/obj/Debug/81/duEco.Android.dll
duEco/duEco.Android/obj/Debug/81/duEco.Android.csprojAssemblyReference.cache
duEco/duEco.Android/obj/Debug/81/duEco.Android.csproj.FileListAbsolute.txt
duEco/duEco.Android/obj/Debug/81/duEco.Android.csproj.CoreCompileInputs.cache
duEco/duEco.Android/obj/Debug/81/designtime/Resource.designer.cs
duEco/duEco.Android/obj/Debug/81/designtime/libraryprojectimports.cache
duEco/duEco.Android/obj/Debug/81/android/src/mono/MonoRuntimeProvider.java
duEco/duEco.Android/obj/Debug/81/android/src/mono/android/Seppuku.java
duEco/duEco.Android/obj/Debug/81/android/src/mono/android/app/NotifyTimeZoneChanges.java
duEco/duEco.Android/obj/Debug/81/android/src/mono/android/app/ApplicationRegistration.java
duEco/duEco.Android/obj/Debug/81/android/bin/com.companyname.duEco.apk
duEco/duEco.Android/obj/Debug/81/android/bin/classes.zip
duEco/duEco.Android/obj/Debug/81/android/assets/System.Runtime.dll
duEco/duEco.Android/obj/Debug/81/android/assets/machine.config
duEco/duEco.Android/obj/Debug/81/android/assets/duEco.dll.mdb
duEco/duEco.Android/obj/Debug/81/android/assets/duEco.dll
duEco/duEco.Android/obj/Debug/81/android/assets/duEco.Android.pdb
duEco/duEco.Android/obj/Debug/81/android/assets/duEco.Android.dll
duEco/duEco.Android/bin/Debug/duEco.pdb
duEco/duEco.Android/bin/Debug/duEco.dll.mdb
duEco/duEco.Android/bin/Debug/duEco.dll
duEco/duEco.Android/bin/Debug/duEco.Android.pdb
duEco/duEco.Android/bin/Debug/duEco.Android.dll
duEco/duEco.Android/bin/Debug/com.companyname.duEco.apk
duEco/duEco.Android/bin/Debug/com.companyname.duEco-Signed.apk
.vs/duEco/v15/Server/sqlite3/storage.ide-wal
.vs/duEco/v15/Server/sqlite3/storage.ide-shm
.vs/duEco/v15/Server/sqlite3/storage.ide
.vs/duEco/v15/.suo
.vs/duEco/DesignTimeBuild/.dtbcache
duEco/duEco/obj/Debug/netstandard2.0/App.xaml.g.cs
duEco/duEco/obj/Debug/netstandard2.0/duEco.AssemblyInfo.cs
duEco/duEco/obj/Debug/netstandard2.0/duEco.assets.cache
duEco/duEco/obj/Debug/netstandard2.0/duEco.csproj.CoreCompileInputs.cache
duEco/duEco/obj/Debug/netstandard2.0/duEco.csproj.FileListAbsolute.txt
duEco/duEco/obj/Debug/netstandard2.0/duEco.csprojAssemblyReference.cache
duEco/duEco/obj/Debug/netstandard2.0/duEco.dll
duEco/duEco/obj/Debug/netstandard2.0/duEco.pdb
duEco/duEco/obj/Debug/netstandard2.0/MainPage.xaml.g.cs
duEco/duEco/obj/duEco.csproj.nuget.cache
duEco/duEco/obj/duEco.csproj.nuget.g.props
duEco/duEco.Android/obj/Debug/81/acw-map.txt
*.dll
*.pdb
